.img1 div {

display:inline-block;
float:left;

}

.missionimg img{
width:95%;
height:450px;
padding:2% 2% 2% 2%;
display:inline-block;

}
.carousel .item {
  height:400px;
width:100%;
padding-left:8%;
}

.abt div{
display:block;
width:40%;
clear:right;
background-color:white;
padding:2% 4% 4% 0%;
height:530px;
font-size:15.3px;
font-weight: bolder;
text-align:justified;
}

footer{
clear:both;
}

.whyus div{
width:70%;
font-size:8px;
clear:left;
float:left;
padding:0% 5% 1% 7%;
text-align:justified;
font-weight: bolder;
}
.whyus3 div{
width:100%;
font-size:8px;
clear:left;
float:left;
padding:0% 5% 1% 7%;
text-align:justified;
font-weight: bolder;
}


.abt ul{
font-size:8px;
}
.abt ol{
font-size:8px;
}
