

.navbar{
height:100px;
padding:2%;
}

.navbar img{
padding:2%;
}

a.navbar-brand {
    float: left;
    color:white;
    height: 15px;
    padding: 0px;
    font-size: 50px;
    line-height: 50px;
}

.dropdown-menu a{
font-size:18px;
background-color:black;
color:white;

}

li{
font-size:200%;
}

.carousel .item {
  height:500px;
}

#myCarousel {
width: 100%;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 50%;
}

footer h5{
padding-left:25%;
font-size:20px;
color:white;
}

footer p{
padding-left:25%;
color: #a6a6a6;
}

footer{
background-color:black;
padding:2%;
}

.list-unstyled a{
font-size:15px;
color: white;
}

footer li{
padding:0%;
font-size:20px;
padding-left:25%;
}

i {
    font-size: 18px;
    color: #008bc4;
    float: left;
    margin-right: 10px;
}

.footcon{
padding-left:40px;
}

.container{
padding-top:50px;
}
@media screen and (max-width: 600px) {
footer h5{
padding-left:10%;
}
footer li{
padding:0%;
padding-left:10%;
}
footer p{
padding-left:10%;
color: #a6a6a6;
}
i {
    padding-left:10%;
    float: left;
    margin-right: 10px;
}
}

#row img{
padding:0%;
width:30%;
background-color:black;
}

.active{
color:red;
}

.brief{
padding:5% 10% 2% 10% ;
font-size:150%;
text-align: justify;
text-justify: inter-word;
}

.caption p{
text-align:center;
font-size:15px;
font-weight: bolder;
}

.cont {
padding:0% 0% 10% 10%;
font-size:20px;
float:left;
display:inline-block;
width:40%;
height:400px;
background-color:white;
}

@media screen and (max-width: 600px) {
.cont {
padding:10% 0% 0% 10%;
float:left;
display:inline-block;
width:100%;
height:400px;

}
}
.cont p{
padding-left:5%;
}

.conti {
padding:0% 0% 0% 5%;
font-size:20px;
float:left;
display:block;
width:60%;
height:400px;
background-color:white;
}
@media screen and (max-width: 600px) {
.conti {
padding:0% 0% 0% 5%;
font-size:20px;
float:left;
clear:both;
display:block;
width:100%;
height:400px;
background-color:white;
}
}

