<!DOCTYPE html>
<html lang="en">
<head>
  <title>SV Engineering</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="Home1.css">
  <link rel="stylesheet" href="Dryers1.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
 
</head>
<header>

<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:black;border-color:#94b8b8;border-width:5px;">
  <div class="container-fluid">
    <div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
      <a class="navbar-brand" href="#">SV Engineering</a>
    </div>

<div class="collapse navbar-collapse" id="example-1">

    <ul class="nav navbar-nav navbar-right" style="background-color:black;">
      <li ><a href="/">Home</a></li>
      <li ><a href="AboutUs.html">About Us</a></li>
      <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Business Lines<span class="caret"></span></a>
	  <ul class="dropdown-menu" style="padding:0.5%;border-size:10px;">
          <li ><a style="color:#a3c2c2;" href="AlcoholEthanol.html"><b>Alcohol/Fuel Ethanol Plants</b></a></li>
          <li><a style="color: #a3c2c2;" href="Starch.html"><b>Starch Plants</b></a></li>
          <li><a style="color: #a3c2c2;" href="Evaporation.html"><b>Evaporation</b></a></li>
          <li class="active"><a style="color: #a3c2c2;" href="Dryers.html"><b>Dryers</b><span class="sr-only">(current)</span></a></li>
	  
        </ul>
      </li>
      <li ><a href="Career.html">Career</a></li>
      <li ><a href="Contact.html">Contact</a></li>
    </ul>
</div>
  </div>
</nav>
<div class="bg-hb"></div>
</header>



<body style="padding-top:7%;" >

<div class="col-md-6 col-sm-12 col-xs-12">
<div class="missionimg" style="float:left;width:100%;height:20%;padding:3% 0% 0% 5%;">
        <img src="distillery-plant.jpg" alt="Dryer" >
      </div>
</div>
<div class="abt">
<div class="col-md-12 col-sm-6 col-xs-6" >
                                    
        <h2 style="padding:2% 0% 2% 0%;"class="widget-title style3"><a name="who">Drying</a></h2>
                                        <p>SV Engineering supplies engineering services and complete process plants and components for drying of products to customers in the industries of distillery, food and dairy, chemicals, pharmaceuticals and environmental protection. Drying is one of the most widely used unit operation in the processing industries. Vapco offer a range of dryers for handling fluid, paste, and moist powder, particulate and granulate feeds.
						</p>
        <ol>
	<li>Steam tube dryer:</li>
		<ol type="a">
			<li>Rotating Shell</li>
			<li>Fixed Shell</li>
		</ol>
	<li>Flash dryer</li>
	<li>Rotary cascade dryer</li>
	<li>Spray dryer</li>
	<li>Belt dryer</li>
	<li>Rotary vacuum dryer</li>
	<li>Paddle dryer</li>
	</ol>

</div>
</div>

<div class="whyus" style="padding-right:0%;font-size:8px;clear:left;">	
<div>
							<br>
							<h3 style="padding:0% 0% 2% 0%"class="widget-title style3"><a name="who">1. STEAM TUBE DRYER </a></h3>
							<h4 style="padding:0% 0% 0% 0%"class="widget-title style3"><a name="who">Principle of Operation:</a></h4>
								<li>	The material is fed continuously at uniform rate and is tumbled &amp; showered by rotation of cylinder.   </li>
								<li>	In a stream of hot air, when moisture gets transferred to the air, rendering the product progressively dry as it travels the length of the dryer</li>
								<li>	The humid air is exhausted into atmosphere via a dust collection system to trap fines escaping with the exhaust air.</li><br>
								
							<h4 style="padding:0% 0% 0% 0%"class="widget-title style3"><a name="who">Advantages:</a></h4>
								<li>	Low temperature, indirect drying</li>
								<li>	Suitable for free flowing granular feeds. </li>
								<li>	High thermal efficiency</li>
								<li>	Minimal process air flow</li>
								<li>	Relatively low emissions</li>
								<li>	Adaptability to fluctuating feed rates &amp; moisture contents of products</li><br>
									
									
							<h4 style="padding:0% 0% 0% 0%"class="widget-title style3"><a name="who">Applications:</a></h4>
								<li>	Germ/ Fiber</li>
								<li>	DDGS / Spent Grain</li>
								<li>	Fly ash  </li>
								<li>	Agro products</li><br>
							
						</div>
</div>
<div>
<div class="eva2" >
        <img src="Dryernew.jpg" alt="Dryer"  >
	<img src="product-jpeg.jpg" alt="Dryer" >
      </div>
</div>

<div class="whyus" style="padding-right:0%;font-size:8px;clear:left;">	
<div>
							<br>
							<h3 style="padding:0% 0% 2% 0%"class="widget-title style3"><a name="who">2.Flash dryer:</a></h3>
							<h4 style="padding:0% 0% 0% 0%"class="widget-title style3"><a name="who">Principle of Operation:</a></h4>
								<li>	In the flash dryer, particles are dispersed by different means depending on the product into a hot air stream at high velocity conveying and drying the product to a free flowing powder in a very short time. </li>
							<li>	This design uses suspended particle drying techniques where surface moisture of the material is rapidly removed by dispersing the particulate solids in a heated stream of gas / air.</li>
							<li>	The drying economy is very dependent upon the source of energy and the maximum allowable inlet temperatures.</li><br>
								
							<h4 style="padding:0% 0% 0% 0%"class="widget-title style3"><a name="who">Advantages:</a></h4>
								<li>	Suitable for drying dewatered solids</li>
							<li>	High Heat Transfer coefficient &amp; Thermal efficiency</li>
							<li>	Quick plant start-up and adjustment of operating conditions</li>
							<li>	Excellent choice for processing heat-sensitive or easily oxidized feed materials</li>
							<li>	Easy to change product or product grade with minimum downtime</li>
							<li>	Efficient &amp; simple process control system</li>
							<li>	quick response to operational changes</li><br>
									
									
							<h4 style="padding:0% 0% 0% 0%"class="widget-title style3"><a name="who">Applications:</a></h4>
								<li>	Dye Intermediates</li>
							<li>	Starch</li>
							<li>	Gluten</li><br>
							
						</div>
</div>
<div>
<div class="eva3" >
        <img src="coal-dryer.jpg" alt="coal-dryer" style="width:100%;height:500px;padding:3% 10% 0% 0%;" >
	</div>
</div>

<div class="whyus3" style="padding-right:0%;width:100%;font-size:8px;clear:left;">	
<div>
							<br>
							<h3 style="padding:0% 0% 2% 0%"class="widget-title style3"><a name="who">3.Rotary Cascade Dryer: </a></h3>
							<h4 style="padding:0% 0% 0% 0%"class="widget-title style3"><a name="who">Principle of Operation:</a></h4>
								<li>	Drying, roasting or heat treatment is achieved by passing the material being processed through a rotating cylinder through which also passes a current of hot air.</li>
							<li>	Lifters or flights fitted to the internal surface of the cylinder lift and cascade the material through the hot air stream. </li>
							<li>	The air stream can be directed through the cylinder either co-current or counter-current manner.  </li><br>
								
							<h4 style="padding:0% 0% 0% 0%"class="widget-title style3"><a name="who">Advantages:</a></h4>
								<li>	Suitable for free flowing granular feeds.</li>
							<li>	Low power demand. </li>
							<li>	Quick plant start-up and adjustment of operating conditions.</li>
							<li>	High Thermal efficiency.</li><br>
									
									
							<h4 style="padding:0% 0% 0% 0%"class="widget-title style3"><a name="who">Applications:</a></h4>
								<li>	Sodium &amp; ammonium sulphate</li>
							<li>	Sugar</li>
							<li>	Coal </li>
							<li>	Inorganics</li>
							<li>	Crystals</li>
							<li>	NPK Fertilizer</li><br>
							
							
						</div>
</div>

<div class="whyus" style="padding-right:0%;font-size:8px;clear:left;">	
<div>
							<br>
							<h3 style="padding:0% 0% 2% 0%"class="widget-title style3"><a name="who">4.Spray Dryers: </a></h3>
							<h4 style="padding:0% 0% 0% 0%"class="widget-title style3"><a name="who">Principle of Operation:</a></h4>
								<li>	Spray drying involves the atomization of a liquid feedstock into a spray of droplets and contacting the droplets with hot air in a drying chamber. </li>
						<li>	The sprays are produced by either rotary (wheel) or nozzle atomizers. Evaporation of moisture from the droplets and formation of dry particles proceed under controlled temperature and airflow conditions. </li>
						<li>	Powder is discharged continuously from the drying chamber. Operating conditions and dryer design are selected according to the drying characteristics of the product and powder specification.</li><br>
								
							<h4 style="padding:0% 0% 0% 0%"class="widget-title style3"><a name="who">Advantages:</a></h4>
			<li>	Best product quality</li>
							<li>	Hygienic design</li>
							<li>	Low energy consumption</li>
							<li>	Easy switch over to a different product</li>
							<li>	Long operation time between cleaning</li><br>
									
									
							<h4 style="padding:0% 0% 0% 0%"class="widget-title style3"><a name="who">Applications:</a></h4>
		<li>	Food: milk powder, coffee, tea, eggs, cereal, starch and starch derivatives, vitamins, enzymes, stevia, colourings</li>
							<li>	Pharmaceutical: antibiotics, medical ingredients, additives</li>
							<li>	Industrial: paint pigments, ceramic materials, catalyst supports, microalgae</li><br>
							
						</div>
</div>
<div class="eva3" >
        <img src="spray-dryers.jpg" alt="spray-dryers" style="width:100%;height:500px;padding:3% 10% 0% 0%;" >
	</div>
</div>

<div class="whyus" style="padding-right:0%;font-size:8px;clear:left;">	
<div>
							<br>
							<h3 style="padding:0% 0% 2% 0%"class="widget-title style3"><a name="who">5.Belt Dryer:</a></h3>
							<h4 style="padding:0% 0% 0% 0%"class="widget-title style3"><a name="who">Principle of Operation:</a></h4>
								<li>	Hot air is passed through the moving porous bed of the wet material. </li>
						<li>	The moisture is transferred from the wet particles to the hot air. The material becomes progressively dry as it traverses along the length of the belt dryer. </li>
						<li>	The humid air is exhausted via ID fan.</li><br>
								
							<h4 style="padding:0% 0% 0% 0%"class="widget-title style3"><a name="who">Advantages:</a></h4>
			<li>	Suitable for granular, fibrous, preformed, extruded wet materials.</li>
						<li>	Can handle wet material with both surface and bound moisture.</li>
						<li>	Uniform drying</li>
						<li>	High energy efficient</li>
						<li>	Low power consumption</li>
						<li>	Continuous operation</li><br>
									
									
							<h4 style="padding:0% 0% 0% 0%"class="widget-title style3"><a name="who">Applications:</a></h4>
		<li>	DDGS</li>
							<li>	Agro products</li>
							<li>	Pigments   </li>
							<li>	Charcoal</li>
							<li>	China clay</li>
							<li>	Magnesium carbonate</li>
							<li>	Zeolites</li><br>
							
						</div>
</div>
<div class="eva3">
        <img src="drum-dryer.jpg" alt="drum-dryer" style="width:100%;height:500px;padding:3% 10% 0% 0%;" >
	</div>
</div>






<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-left text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="row text-left text-xs-left text-sm-left text-md-left">
	<div class="col-xs-12 col-sm-4 col-md-4">
        <!-- Content -->
        <h5 class="text-uppercase">ABOUT US</h5>
        <p>The company provides solutions based on th best technologies across the globe with prime focus on quality energy efficiency.</p>
<p>SV Engineering is committed to provide sustainable and environment friendly designs and EPC solutions in the field of Ethanol,Starch,Chemical and Pharma Industries.</p>
      </div>
      <!-- Grid column -->

      
      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Business Lines</h5>

        <ul class="list-unstyled">
          <li>
            <a href="AlcoholEthanol.html">Alcohol/Fuel Ethanol Plants</a>
          </li>
          <li>
            <a href="Starch.html">Starch Plants</a>
          </li>
          <li>
            <a href="Evaporation.html">Evaporation</a>
          </li>
          <li>
            <a href="Dryers.html">Dryers</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Office</h5>
            
	    <i class="fa fa-map-marker"></i>
	    <p class="footcon">Nighoje,Chakan</p>
  	    <br>
	    <i class="fa fa-phone"></i>
            <p class="footcon">9922437860</p>
            </br>
	    
	    <i class="fa fa-envelope"></i>
            <p class="footcon">svengineering@gmail.com</p>
            
          

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:svengineering.com
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>