<!DOCTYPE html>
<html lang="en">
<head>
  <title>SV Engineering</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="Home1.css">
  <link rel="stylesheet" href="Starch1.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
 
</head>
<header>

<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:black;border-color:#94b8b8;border-width:5px;">
  <div class="container-fluid">
    <div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
      <a class="navbar-brand" href="#">SV Engineering</a>
    </div>

<div class="collapse navbar-collapse" id="example-1">

    <ul class="nav navbar-nav navbar-right" style="background-color:black;">
      <li ><a href="/">Home</a></li>
      <li ><a href="AboutUs.html">About Us</a></li>
      <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Business Lines<span class="caret"></span></a>
	  <ul class="dropdown-menu" style="padding:0.5%;border-size:10px;">
          <li ><a style="color:#a3c2c2;" href="AlcoholEthanol.html"><b>Alcohol/Fuel Ethanol Plants</b></a></li>
          <li class="active"><a style="color: #a3c2c2;" href="Starch.html"><b>Starch Plants</b><span class="sr-only">(current)</span></a></li>
          <li ><a style="color: #a3c2c2;" href="Evaporation.html"><b>Evaporation</b></a></li>
          <li><a style="color: #a3c2c2;" href="Dryers.html"><b>Dryers</b></a></li>
	  
        </ul>
      </li>
      <li><a href="Career.html">Career</a></li>
      <li><a href="Contact.html">Contact</a></li>
    </ul>
</div>
  </div>
</nav>
<div class="bg-hb"></div>
</header>



<body style="padding-top:7%;" >

<div class="col-md-7 col-sm-12 col-xs-12">
<div class="missionimg" style="float:left;width:105%;height:20%;padding:3% 0% 0% 5%;">
        <img src="StarchProcess.jpg" alt="Starch Plant" >
      </div>
</div>
<div class="abt">
<div class="col-md-12 col-sm-6 col-xs-6" >
                                    
        <h2 style="padding:2% 0% 2% 0%;"class="widget-title style3"><a name="who">Starch</a></h2>
                                        <p> Most commercial starch is made from corn, although wheat, tapioca, and potato starch are also used. Commercial starch is obtained by crushing or grinding starch-containing tubers or seeds and then mixing the pulp with water; the resulting paste is freed of its remaining impurities and then dried. </p>
	<h4 style="padding:4% 0% 2% 0%"class="widget-title style3"><a name="who">Aside from their basic nutritional uses, starches are used in :</a></h4>
         <ul>
	<li><p>Brewing & as thickening agents in baked goods and confections. </p></li>
	<li><p>In paper manufacturing to increase the strength of paper and surface sizing of paper. </p></li>
	<li><p>Manufacture of corrugated paperboard, paper bags and boxes, and gummed paper and tape.  </p></li>
	<li><p>Large quantities of starch are also used in the textile industry as warp sizing, which imparts strength to the thread during weaving.</p></li>	
</div>
</div>
<div class="whyus" style="font-size:15.5px;">
    <div>
	<p>
		The early part of the process involves the suitable separation of Germ & Fiber through Steeping ,Grinding & screening respectively. The products separated are dried and sold as Cattle feed.
	</p>
	<p>
		The separation of the starch & gluten results in producing starch which can either be  dried to be used as starch powder or further converted into sweetners or other by products with the help of the fermentation. The process of manufacturing sweetners involves cooking of the hydrolysed slurry followed by liquefaction and further process of filtration and ionization to achieve the desired quality.The starch complex are generally customized based on the product requirement and the market availability. One can either opt for production of Germs, fiber and starch as powder which shall fall under the complex with Native starch in production.
	</p>
	<p>
	Considering the ever growing & changing requirement of the market, manufacturers opts for various value added products such as malto dextrin, High fructose corn syrup, liquid glucose or sorbitol which falls under the native starches. VAPCO has substantial experience in also offering stand alone evaporation & drying systems for existing plants which are energy efficient & improves the quality of the product. The driers which are commonly used are Rotary bundle tube dryer for Germ & Fiber and Flash dryers for the drying of starches & glutens. Similarly for other raw materials such as wheat, tapioca the process of manufacturing shall be similar but with slight difference because of the nature of the basic raw material.  
	</p>
	
    </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-left text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="row text-left text-xs-left text-sm-left text-md-left">
	<div class="col-xs-12 col-sm-4 col-md-4">
        <!-- Content -->
        <h5 class="text-uppercase">ABOUT US</h5>
        <p>The company provides solutions based on th best technologies across the globe with prime focus on quality energy efficiency.</p>
<p>SV Engineering is committed to provide sustainable and environment friendly designs and EPC solutions in the field of Ethanol,Starch,Chemical and Pharma Industries.</p>
      </div>
      <!-- Grid column -->

      
      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Business Lines</h5>

        <ul class="list-unstyled">
          <li>
            <a href="AlcoholEthanol.html">Alcohol/Fuel Ethanol Plants</a>
          </li>
          <li>
            <a href="Starch.html">Starch Plants</a>
          </li>
          <li>
            <a href="Evaporation.html">Evaporation</a>
          </li>
          <li>
            <a href="Dryers.html">Dryers</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Office</h5>
            
	    <i class="fa fa-map-marker"></i>
	    <p class="footcon">Nighoje,Chakan</p>
  	    <br>
	    <i class="fa fa-phone"></i>
            <p class="footcon">9922437860</p>
            </br>
	    
	    <i class="fa fa-envelope"></i>
            <p class="footcon">svengineering@gmail.com</p>
            
          

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:svengineering.com
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>